<mat-card id="cardstyle">  <!--card tag-->
    <mat-card-content>     <!--card body starts-->
      <form [formGroup]=" studentedit" (ngSubmit)="EditStudent()">
          <div class="profile-picture-section">
            <div class="profile-picture-container">
              <img [src]="profilePictureUrl" alt="Profile Picture" class="profile-picture" >
              <input type="file" accept="image/*" formControlName="ProfilePicture" (change)="uploadProfilePicture($event)">
            </div>
      
        <mat-form-field class="example-form-field" style="margin-top: 50px;">
          <mat-label>Name</mat-label>
          <input matInput type="text" [(ngModel)]="value" formControlName="Name" required>
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>{{ getErrorMessage('Name') }}</mat-error>
        </mat-form-field>      
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>Father's Name</mat-label>
              <input matInput formControlName="Father" required>
              <mat-error>{{ getErrorMessage('Father') }}</mat-error>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
              <mat-label>Mother's Name</mat-label>
              <input matInput formControlName="Mother" required>
              <mat-error>{{ getErrorMessage('Mother') }}</mat-error>
            </mat-form-field></td>
          </tr>
        </table>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="Email" required>
              <mat-error>{{ getErrorMessage('Email') }}</mat-error>
            </mat-form-field>
        <mat-form-field class="example-full-width" style="margin-top: 10px;">
          <mat-label>Phone Number</mat-label>
          <span matPrefix>+91 &nbsp;</span>
          <input type="tel" matInput placeholder="909-9094-785" formControlName="Phone" required>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error>{{ getErrorMessage('Phone') }}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Chandni Chowk, Delhi" formControlName="Address" required></textarea>
            <mat-error>{{ getErrorMessage('Address') }}</mat-error>
        </mat-form-field>
    </div>   
    <button mat-raised-button color="accent" style="width: 150px; margin-top: 50px;">Submit</button>
    </form>
</mat-card-content>
</mat-card>    