
  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: transparent; 
  }
  
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
  
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  
  .button {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
  
  mat-card {
    height: 300px; 
    width: 400px;
    box-shadow: none; 
    background-color: transparent;
    
  }
  